# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# C extensions
*.pyd

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
*.egg
*.wheel

# Logs
logs/
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Virtual Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt

# Docker files
docker-compose.yml
Dockerfile
.dockerignore

# Kubernetes config
kubeconfig
*.kube/
.kube/

# Database
*.sqlite3
*.db

# Other IDE-related files
.idea/
.vscode/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db
